{% extends 'base.html' %}

{% block content %}
<section>
    <h3> Title: {{book.title}}</h3>
</section>


<section>
<a href = "{{book.cover}}">
    <img src="{{book.cover}}" height="100px" width="100px" alt="Book cover is not showing">
</a>
</section>

<br \>

<section>

    <h4> Price: </h4>
    <p> ${{book.price}}</p>
</section>
<br \>

<section>
    <h4> Author:</h4>
    <a href= "{% url 'authorbook' book.author %}"> {{book.author}} </a>
</section>

<br \>

 <section>
     <h4> Bio: </h4>
    <p> {{book.bio}} </p>
 </section>

<br \>

<section>
    <h4> Book Description:  </h4>
    <p> {{book.description}}</p>
</section>

<br \>

<section>
    <h4> Genre: </h4>
    <p> {{book.genre}} </p>
</section>

<br \>

<section>
    <h4> Publishing info : </h4>
    <p> Publisher: {{book.publisher}} </p>
    <p> Release Date:  {{book.release_date}} </p>
</section>

<br \>

<section>
 <h4> Comment & Rating: </h4>
   {% for comment in comments %}
<section>
  <p>{{comment.comments}} / Rating: {{comment.rating}} </p>
</section>


{% endfor %}



</section>

<!-- button for add to cart -->
<br \>
<br \>

<div style="background-color:#fff; border:none 1px; float:right; padding:10px;">
    <form action="" method="get">
        <button type="submit" class="btn btn-primary btn-sm" name="addToCart" value="{{ book.id }}">Add To Cart</button>
    </form>
</div>

<!-- button for add comment -->


<div style="background-color:#fff; border:none 1px; float:right; padding:10px;">
    <form action="" method="get">
        <button type="submit" class="btn btn-primary btn-sm" name="addComment" value="{{ book.id }}">Add Comment</button>
    </form>
</div>

<!-- button for add to wishlist -->

<div style="background-color:#fff; border:none 1px; float:right; padding:10px;">
    <form action="" method="get">
        <button type="submit" class="btn btn-primary btn-sm" name="addwl1" value="{{ book.id }}">Add To First Wishlist</button>
        <button type="submit" class="btn btn-primary btn-sm" name="addwl2" value="{{ book.id }}">Add To Second Wishlist</button>
        <button type="submit" class="btn btn-primary btn-sm" name="addwl3" value="{{ book.id }}">Add To Third Wishlist</button>
    </form>
</div>
{% endblock %}
