
{% extends 'base.html' %}

{% block content %}
    {% for book in books %}
    <p>
        Title: {{book.title}}<br />
        <img src="{{book.cover}}" height="100px" width="100px" alt="Book cover is not showing"><br />
        Author: {{book.author}}<br />

        <a href="/books/bookdetail" class="btn btn-info btn-sm">
                <!--                <i class="fas fa-shopping-cart fa-lg"></i>-->
                <span class="fas fa-shopping-cart fa-lg"> Book Details </span>
            </a>



    </p>
    {% endfor %}
{% endblock %}


