<!-- TODO display name of user making comment-->
<!-- TODO add picture of book that is being rated-->
<!-- TODO add larger block of text for comment-->
<!-- TODO verify that user owns the book-->
<!-- TODO limit length of comment so it fits half the available space-->
<!-- TODO add hover over of picture to display the name of the book-->
<!-- TODO make the submit button update information about the book-->

{% extends 'base.html' %}

{% block content %}
    <div align="center" style="color: steelblue">
    <h1>Comment and Rating</h1>
    </div>
    <div align="center" style="...">
    <form>
        <label for="comment">Comment:</label><br><br>
        <input type="text" id="comment" name="comment" size="100"><br><br>
        <label for="rating">Rating (between 0 and 5):</label><br><br>
        <input type="range" id="rating" name="rating" min="0" max="5"><br>
        <p>Would you like to leave your name?</p>
        <input type="radio" id="Yes" name="nickname" value="Yes">
        <label for="Yes">Yes</label><br>
        <input type="radio" id="No" name="nickname" value="No">
        <label for="No">No</label><br><br>
        <input type="submit" value="Submit">

    </form>

    </div>
{% endblock %}