{% extends 'base.html' %}
{% block content %}
    <div align = "center">
        <h1>Wishlist</h1>
    </div>
        {% for small in wishlist.smallwishlist_set.all %}
            <p>{{ small.name }}</p>
             {% for book in small.wishlistitem_set.all %}
                <p>{{ book.item.title }}</p>

                <!-- button for add to cart -->
                <form action="#" method="get">
                    <label for="addButton">Add To Cart</label>
                    <input type="submit" id="addButton" class="btn" name="addToCart" value="{{ book.item.id }}">
                </form>

             {% endfor %}
        {% endfor %}
{% endblock %}
