<div class="col-md-4">
    <div class="content-section">
      <h3>{{user.username}}'s Profile </h3>
      <p class='text-muted'>Edit and View Personal Info.
        <ul class="list-group">
          <li class="list-group-item list-group-item-light"> <a href="{% url 'add_shipping' %}">Add New Shipping Address</a></li>
          <li class="list-group-item list-group-item-light">Announcements</li>
          <li class="list-group-item list-group-item-light">Calendars</li>
          <li class="list-group-item list-group-item-light">etc</li>
        </ul>
      </p>
    </div>