{% extends 'base.html' %}

<!-- TODO: user can access his/her cart from any page? (make sure all pages extends base.html) -->

{% block content %}
    <!-- Display shopping cart details -->
    <div align="center" style="color: steelblue">
        <h1>My Shopping Cart</h1>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Book</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price(x1)</th>
                <th scope="col">Save For Later?</th>
                <th scope="col">Remove?</th>
            </tr>
        </thead>
        {% if is_empty_cart is False %}
            <tbody>
                <form method="POST"> {% csrf_token %}
                    {% for cart_item in items %}
                        {% if cart_item.save_for_later is False %}
                            <tr>
                                <td>{{cart_item.item.title}}</td>
                                <td>
                                    <input type="number" name="quantity" min="1" max="999" step="1" value="{{ cart_item.quantity }}">
                                </td>
                                <td>$ {{cart_item.item.price}}</td>
                                <td>
                                    <input type="checkbox" name="saves" value="{{ cart_item.id }}">
                                </td>
                                <td>
                                    <input type="checkbox" name="remove" value="{{ cart_item.id }}">
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    <tr align="right">
                        <td colspan="1" align="left" style="font-weight:bold">Subtotal:</td>
                        <td colspan="4" align="right" style="font-weight:bold">$ {{subtotal}}</td>
                    </tr>
                    <tr align="right">
                        <td colspan="4" align="right">
                            <button type="submit">Save Changes</button>
                        </td>
                    </tr>
                </form>
            </tbody>
        {% endif %}
    </table>
    {% if is_empty_cart %}
        <div align="center">
            <p>
                <h2>Cart is empty.</h2>
                <a href="{% url 'books' %}">Click here to browse books.</a>
            </p>
        </div>
    {% endif %}

    <!-- add book to cart by book name -->
    <br \>
    <br \>
    <div align="center" style="color: steelblue">
        <h4>Add A Book To Cart By Book Name</h4>
    </div>
    <form action="" method="get">
        <label for="bname">Book name:</label>
        <input type="text" id="bname" name="addToCart" value="{{ book.item.title }}">
        <input type="submit" value="Add To Cart">
    </form>
    <br \>
    <br \>

    <!-- separate cart's table and save-for-later table -->
    <br \>
    <br \>
    <br \>
    <br \>

    <!-- display 'save for later' items -->
    <div align="center" style="color: steelblue">
        <h1>Saved For Later</h1>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Book</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price(x1)</th>
                <th scope="col">Move To Cart?</th>
            </tr>
        </thead>
        <tbody>
            <form method="POST"> {% csrf_token %}
                {% for cart_item in items %}
                    {% if cart_item.save_for_later is True %}
                        <tr>
                            <td>{{cart_item.item.title}}</td>
                            <td>{{cart_item.quantity}}</td>
                            <td>$ {{cart_item.item.price}}</td>
                            <td>
                                <input type="checkbox" name="unsaved" value="{{ cart_item.id }}">
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr align="right">
                    <td colspan="4" align="right">
                        <button type="submit">Move To Cart</button>
                    </td>
                </tr>
            </form>
        </tbody>
    </table>
    {% if is_saved_empty is True %}
        <div align="center">
            <p>
                <h2>The list of saved for later is empty.</h2>
            </p>
        </div>
    {% endif %}
{% endblock %}
